doctype hmtl
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Hipstrify.io

    // Bootstrap
    link(
      rel="stylesheet",
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
      crossorigin="anonymous"
    )

    // Less Stylesheet & CDN
    link(rel="stylesheet", type="text/css", href="../less/styles.less")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js")



  body

    // Navbar
    nav.navbar.navbar-fixed-top.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="index.html") Hipstrify.io

        div.collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li: a.active(href="#home") Home
            li: a(href="#why-us") About
            li: a(href="#team") Our team
            li: a(href="contact") Contact
    // Navbar end


    // Home
    div.cover#home
      div.cover-text
        h1 You probably have&rsquo;t heard of us.
        p.lead.
          We're that "cool" vegan uncle who doesn't have kids and somehow makes a living
          repairing antique polaroid cameras, while drinking a $38 bottle of artisinal
          cold-brew
        a.btn.btn-danger.btn-lg(href="why-us", role="button") Let's get started, I guess.
    // Home end


    // Testimonial
    section.testimonial
      div.container
        blockquote
          | &ldquo; I never realized how uncool I was before. Hipstrify.io lovingly creafted
          | me into shape, complete with a skin-fade, fresh denim &amp; a moustache &mdash;
          | not only were they late, but they were overbudget. Highly recommend! &rdquo;
          cite &mdash; A Happy Client
    // Testimonial end


    // Why Us
    section#why-us
      h2 Why Hipstrify.io?
      div.container
        div.row
          div.col-sm-4
            h3 Artisinal
            p.
              Cold-pressed flannel tumeric, hashtag leggings cray irony subway tile. Hot
              chicken hashtag kickstarter fanny pack, wayfarers jianbing gentrify chartreuse
              meggings narwhal. Snackwave squid cardigan, health goth activated charcoal
              knausgaard poutine meggings vape four loko heirloom truffaut irony.
          div.col-sm-4
            h3 Readymade
            p.
              Cold-pressed flannel tumeric, hashtag leggings cray irony subway tile. Hot
              chicken hashtag kickstarter fanny pack, wayfarers jianbing gentrify chartreuse
              meggings narwhal. Snackwave squid cardigan, health goth activated charcoal
              knausgaard poutine meggings vape four loko heirloom truffaut irony.
          div.col-sm-4
            h3 Small Batches
            p.
              Cold-pressed flannel tumeric, hashtag leggings cray irony subway tile. Hot
              chicken hashtag kickstarter fanny pack, wayfarers jianbing gentrify chartreuse
              meggings narwhal. Snackwave squid cardigan, health goth activated charcoal
              knausgaard poutine meggings vape four loko heirloom truffaut irony.
    // Wny Us end


    // Sign Up
    div.container
      h2 Get Our Handcrafted Newsletter
      p.lead Seariously, we'll send you real paper in the mail. We don't do email.
      div.row
        div.col-sm-8.col-sm-offset-2
          form
            div.input-group
              input.form-control.input-lg(type="text", placeholder="Put your real address in here...")
              span.input-group-btn
                button.btn.btn-warning.btn-lg(type="button") Handcraft it
    // Sign Up end


    // Footer
    footer crafted with &hearts; in ohio by
      a(href="http://ericsnell.github.io/portfolio", target="_blank") eric
    // Footer end




    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    )

    // Include all compiled plugins
    script(
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
     integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
     crossorigin="anonymous"
    )
